VITE_APP_NAME=CloakBid
VITE_APP_VERSION=1.0.0
VITE_MIDNIGHT_NETWORK=preprod
VITE_CONTRACT_ADDRESS=51d23a07eec0e7d2c94aceeb613e414900dcfb5a6ad18f3459875f733f6d8b15
VITE_WALLET_ADDRESS=mn_addr_preview19fx47fv4pkvsdrl9wlzw5u4tjcd5kuaf4u3yjqvfrc4xs4lz4dns0wg4jd
VITE_EXPLORER_URL=https://explorer.midnight.network
VITE_DOCS_URL=https://docs.midnight.network
VITE_X_PROFILE=https://x.com/xCloakBid
VITE_GITHUB_URL=https://github.com/Soumi14mili/CloakBid
